.container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: disapprear 0.81s linear;
    background-color: rgba(0, 0, 0, 0.8);
}

.container i {
    font-size: 100px;
    color: crimson;
    animation: spin 1.2s linear infinite;
    background-color: transparent;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes disapprear {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

