/* Normalize CSS */
html {
  line-height: 1.15;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #fff;
}

body {
  margin: 0;
}

/* Main content */
.row {
  margin: 24px 0 0;
  padding: 0 12px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.row-end {
  justify-content: end;
  gap: 12px;
}

/* Theme: Dark */
.row.theme-dark {
  background-color: #444956;
}

